mat-stepper-horizontal {
    margin-top: 0px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  ::ng-deep .mat-horizontal-content-container {overflow: visible !important;}

  ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.form-control-label{
  font-family: 'Segoe UI';
}

