<div class="wrapper"
    style="background-image:url(assets/img/service3.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="container clear-filter" style="padding-top: 15%; color: black;">

        <div class="card rounded-3" style="width: 50%; overflow: visible !important;">
            <div class="card-header">
                <h3 class="h3-seo text-center text-primary"><b>For how long do you want?</b></h3>
                <p class="text-center text-primary">You can only book for a minimum: 5 hours - maximum: 14 days </p>
            </div>
            <div class="card-body" style="padding: 5%;">
                <form class="form" [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label">Pick-up date<b class="text-danger">*</b>:</label>
                        </div>
                        <div class="col">
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <input type="text" placeholder="yyyy-mm-dd" class="form-control datetimepicker"
                                    name="dp1" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker"
                                    (click)="d1.toggle()" [minDate]="minDate" formControlName="pickUpDate"
                                    [ngClass]="{ 'is-invalid': submitted && f.pickUpDate.errors }"
                                    (ngModelChange)="changeDate($event)" />
                                <div *ngIf="submitted && f.pickUpDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.pickUpDate.errors.required">Pick-up date is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label">Pick up time<b class="text-danger">*</b>:</label>
                        </div>
                        <div class="col">
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus1===true}">
                                <select class="form-control" formControlName="pickUpTime" (focus)="focus1=true"
                                    (blur)="focus1=false" [ngClass]="{ 'is-invalid': submitted && f.pickUpTime.errors }"
                                    style="height:auto;">
                                    <option value="" disabled>Select pick up time</option>
                                    <option *ngFor="let time of timeArray" [ngValue]="time" style="color: orange;">
                                        {{time}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.pickUpTime.errors" class="invalid-feedback">
                                    <div *ngIf="f.pickUpTime.errors.required">Pick up time is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label">Drop off date<b class="text-danger">*</b>:</label>
                        </div>
                        <div class="col">
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <input type="text" placeholder="yyyy-mm-dd" class="form-control datetimepicker"
                                    name="dp2" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker"
                                    (click)="d2.toggle()" [minDate]="startDate" formControlName="dropOffDate"
                                    (ngModelChange)="changeDate($event)"
                                    [ngClass]="{ 'is-invalid': submitted && f.dropOffDate.errors }" />
                                <div *ngIf="submitted && f.dropOffDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.dropOffDate.errors.required">Drop off date is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label">Drop off time<b class="text-danger">*</b>:</label>
                        </div>
                        <div class="col">
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus1===true}">

                                <select class="form-control" formControlName="dropOffTime" (focus)="focus1=true"
                                    (blur)="focus1=false"
                                    [ngClass]="{ 'is-invalid': submitted && f.dropOffTime.errors }"
                                    style="height:auto;">
                                    <option value="" disabled>Select drop off time</option>
                                    <option *ngFor="let time of timeArray" [ngValue]="time" style="color: orange;">
                                        {{time}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.dropOffTime.errors" class="invalid-feedback">
                                    <div *ngIf="f.dropOffTime.errors.required">Drop off time is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label">Additional equipment: (You can select
                                multiple)</label>
                        </div>
                        <div class="col">
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus1===true}">

                                <select class="form-control" formControlName="dropOffTime" (focus)="focus1=true"
                                    (blur)="focus1=false"
                                    [ngClass]="{ 'is-invalid': submitted && f.dropOffTime.errors }" style="height:auto;"
                                    multiple>
                                    <option value="" disabled>Highlight additional equipment</option>
                                    <!-- <option *ngFor="let car of vehicleTypes" [ngValue]="car.id"
                                                style="color: orange;">
                                                {{car.type}}
                                            </option> -->
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div *ngIf="submitted && f.dropOffTime.errors" class="invalid-feedback">
                                    <div *ngIf="f.dropOffTime.errors.required">{{additionError}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center"><b>Price: £ {{price}}</b></h3>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <button [disabled]="loading"
                                    class="btn btn-primary btn-round btn-lg btn-block pull-left" (click)="cancel()">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Cancel
                                </button>
                            </div>
                            <div class="col">
                                <button [disabled]="loading"
                                    class="btn btn-primary btn-round btn-lg btn-block pull-right" type="submit">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Submit
                                </button>
                            </div>
                        </div>
                        <div *ngIf="error" class="text-danger text-center">{{error}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer" data-background-color="black">
</footer>