<div class="wrapper">
  <div class="page-header" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/header.jpg');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        <h1 class="h1-seo text-white" style="font-weight: 900;"><b>Banger & Co</b></h1>
        <h4 class="h4-seo text-white" style="font-weight: 900;"><b>Adventure Sri Lanka in comfort</b></h4>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section">
      <div class="container">
        <h2 class="h1-seo text-center">About us</h2>
        <p class="text-center">With over 30 years of experience in the industry, we strive to offer the highest levels
          of customer service and a highly personalised service to all our customers who are on the lookout for Sri
          Lanka car rental opportunities. With one of the largest and most modern and varied fleets in Sri Lanka, our
          service is backed by a networked front office, fully-fledged mechanical servicing.</p>
      </div>
    </div>
    <div class="section section-tabs">
      <div class="container">
        <h2 class="h1-seo text-center">Our fleet</h2>
        <div class="container" style="width: 50%; margin-bottom: 5%;">
          <div class="row text-center ">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="Search vehicle" style="height: 50px; margin-top:2.5%; background-color: #FFFFFF;">
          </div>
        </div>
        <div class="row">
          <div class="card-columns" *ngIf="!noVehicles">
            <app-fleet class="vehicleItem" *ngFor="let item of vehicleList | filterVehicle:searchText"
              [vehicleElement]="item" [index]="item.vehicleId" ></app-fleet>
          </div>
        </div>
        <div *ngIf="noVehicles">
          <h4 class="text-primary text-center">Oops! Currently we have no vehicles</h4>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" data-background-color="black">
  </footer>
</div>