:host{
    .mat-nav-list{
        margin-top: 45%;
        padding-left: 15%;
    }
    .mat-list-item{
        vertical-align: middle;
        margin-left: 30px;
        color: #f96332;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
  
  
  