<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/components/dashboard']">
        <p><i class="fas fa-chart-line"></i> Dashboard</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="'/components/manage-bookings'">
        <p><i class="now-ui-icons files_paper"></i> Bookings</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/components/manage-vehicles']">
        <p><i class="fas fa-car"></i> Vehicles</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/components/manage-equipment']">
        <p><i class="now-ui-icons ui-2_settings-90"></i> Equipments</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/components/manage-inquiries']">
        <p><i class="fas fa-comments"></i> Inquiries</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/components/manage-users']">
        <p><i class="fas fa-users"></i> Users</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active"
        href="http://localhost:54787/main/admin/hangfire?access_token={{token}}" target="_blank">
        <p><i class="fas fa-stopwatch"></i> Hangfire</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/components/dmv']">
        <p><i class="fas fa-user-secret"></i> DMV</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/components/competitors']">
        <p><i class="fas fa-flag-checkered"></i> Competitors</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/components/frauds']">
        <p><i class="fas fa-id-badge"></i> Fraud Licenses</p>
    </a>
</mat-nav-list>