<div class="container">
    <div class="card" style="background-color: #f96332; width: 25%;">
        <br>
        <blockquote>
            <h5 class="text-center text-muted">Let's find your ideal vehicle</h5>
            <p class="blockquote blockquote-white" style="margin-left: 3%; margin-right: 3%; font-size: 0.75em;">
                <small>
                    Type
                    <div class="form-check">
                        <div class="row form-group" *ngFor="let type of vehicleTypes">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="vehicleTypes" value="{{type.id}}"
                                    [(ngModel)]="type.checked">
                                <span class="form-check-sign"></span>
                                {{type.type}}
                            </label>
                        </div>
                    </div>
                </small>
            </p>
        </blockquote>
        <blockquote>
            <p class="blockquote blockquote-white" style="margin-left: 3%; margin-right: 3%; font-size: 0.75em;">
                <small>
                    Price per day
                    <div class="form-check">
                        <div class="row form-group" *ngFor="let type of vehicleTypes">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="vehicleTypes" value="{{type.id}}"
                                    [(ngModel)]="type.checked">
                                <span class="form-check-sign"></span>
                                £{{type.pricePerDay}}
                            </label>
                        </div>
                    </div>
                </small>
            </p>
        </blockquote>
    </div>
</div>
<div class="container">
    <div class="section section-tabs">
        <h3 class="h1-seo text-center">Looking for additional equipment?</h3>
        <div class="container">
            <div class="card" style="background-color: #f96332; width: 25%;">
                <br>
                <blockquote>
                    <h5 class="text-center text-muted">Equipment</h5>
                    <p class="blockquote blockquote-white"
                        style="margin-left: 3%; margin-right: 3%; font-size: 0.75em;">
                        <small>
                            Type
                            <div class="form-check">
                                <div class="row form-group" *ngFor="let type of vehicleTypes">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="vehicleTypes"
                                            value="{{type.id}}" [(ngModel)]="type.checked">
                                        <span class="form-check-sign"></span>
                                        {{type.type}}
                                    </label>
                                </div>
                            </div>
                        </small>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>