<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="content">
                    <div class="text-center">
                        <h2>{{total}}</h2>
                        <h4><b>Total Vehicles</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="background-color:#DCDCDC">
        <div class="container" style="padding: 2%; border-color: tomato; ">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3">
                    <label class="text-primary"><b> Car Type</b></label>
                    <select class="form-control text-primary" (focus)="focus1=true" (blur)="focus1=false"
                        style="height:auto; margin-bottom: 3%; border-color: tomato;" (change)="typeFilter($event)">
                        <option *ngFor="let type of vehicleTypes" [ngValue]="car" class="text-primary">{{type.type}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label class="text-primary"><b>Active</b></label>
                    <select class="form-control text-primary" (focus)="focus1=true" (blur)="focus1=false"
                        style="height:auto; margin-bottom: 3%;border-color: tomato;" (change)="activeFilter($event)">
                        <option *ngFor="let value of availability" [ngValue]="value.id" class="text-primary">
                            {{value.type}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-3 offset-lg-2">
                    <button class="btn btn-primary" [routerLink]="'/components/car'">Add Vehicle</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-warning">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#Id</th>
                            <th scope="col">Model</th>
                            <th scope="col">Car code</th>
                            <th scope="col">Engine</th>
                            <th scope="col">Type</th>
                            <th scope="col">Automatic</th>
                            <th scope="col">Day added</th>
                            <th scope="col">Active</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let car of filteredCars">
                            <th scope="row">{{car.id}}</th>
                            <td>{{car.model}}</td>
                            <td>{{car.carCode}}</td>
                            <td>{{car.engine}}</td>
                            <td>{{car.type.type}}</td>
                            <td>{{car.automatic}}</td>
                            <td>{{car.dayAdded}}</td>
                            <td>{{car.active}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" title="Edit vehicle">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editVehicle(car.id)"></i></button>
                                <button class="btn btn-primary btn-sm" *ngIf="!car.active" title="Activate vehicle">
                                    <i class="fa fa-check" aria-hidden="true" (click)="updateVehicleStatus(car)"></i></button>
                                <button class="btn btn-primary btn-sm" *ngIf="car.active" title="Deactivate vehicle">
                                    <i class="fa fa-times" aria-hidden="true" (click)="updateVehicleStatus(car)"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
    </footer>
</div>