<div class="page-header" filter-color="orange" style="height:100%;">
    <ngx-spinner bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee" type="ball-clip-rotate"
        [fullScreen]="true">
        <p style="color: #6e1005"> Loading... </p>
    </ngx-spinner>
    <div class="page-header-image" style="background-image:url(assets/img/addVehicle.jpg)"></div>
    <div class="container">
        <div class="card card-login card-plain"
            style="background-color: #6e1005; margin-top: 10%; max-width: 100%; border-radius: 5%; padding-right: 5%; padding-left: 5%;">
            <form class="form" [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
                <div class="header header-primary text-center">
                    <div class="logo-container">
                        <img src="assets/img/now-logo.png" alt="" style="height: 70px; margin-top: 30px;">
                    </div>
                    <h4 class="h3-seo" style="margin-top: 0px;"><b>{{title}}</b></h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col">
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <input type="text" class="form-control" formControlName="make" placeholder="Car Make"
                                    (focus)="focus=true" (blur)="focus=false"
                                    [ngClass]="{ 'is-invalid': submitted && f.make.errors }">
                                <div *ngIf="submitted && f.make.errors" class="invalid-feedback">
                                    <div *ngIf="f.make.errors.required">Car make is required</div>
                                </div>
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus1===true}">
                                <input type="text" formControlName="model" placeholder="Model" class="form-control"
                                    (focus)="focus1=true" (blur)="focus1=false" maxlength="21"
                                    [ngClass]="{ 'is-invalid': submitted && f.model.errors }" />
                                <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
                                    <div *ngIf="f.model.errors.required">Car model is required</div>
                                </div>
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus1===true}">
                                <select class="form-control" formControlName="engine" (focus)="focus1=true"
                                    (blur)="focus1=false" [ngClass]="{ 'is-invalid': submitted && f.engine.errors }"
                                    style="height:auto;">
                                    <option value="" disabled>Choose the engine</option>
                                    <option *ngFor="let e of engines" [ngValue]="e" style="color: orange;">{{e}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.engine.errors" class="invalid-feedback">
                                    <div *ngIf="f.engine.errors.required">Engine is required</div>
                                </div>
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus1===true}">
                                <select class="form-control" formControlName="type" (focus)="focus1=true"
                                    (blur)="focus1=false" [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
                                    style="height:auto;">
                                    <option value="" disabled>Choose the car type</option>
                                    <option *ngFor="let car of vehicleTypes" [ngValue]="car.id" style="color: orange;">
                                        {{car.type}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                                    <div *ngIf="f.type.errors.required">Car type is required</div>
                                </div>
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus1===true}">
                                <label class="form-control-label">Gear</label>
                                <input type="radio" formControlName="gear" placeholder="Gear" value="automatic"
                                    class="form-control" (focus)="focus1=true" (blur)="focus1=false"
                                    [ngClass]="{ 'is-invalid': submitted && f.gear.errors }" checked />
                                <label class="form-control-label">Automatic</label>
                                <input type="radio" formControlName="gear" placeholder="Gear" value="manual"
                                    class="form-control" (focus)="focus1=true" (blur)="focus1=false"
                                    [ngClass]="{ 'is-invalid': submitted && f.gear.errors }" />
                                <label class="form-control-label">Manual</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <input type="text" class="form-control" formControlName="enginePower"
                                    placeholder="Engine Power (CC)" (focus)="focus=true" (blur)="focus=false"
                                    [ngClass]="{ 'is-invalid': submitted && f.enginePower.errors }">
                                <div *ngIf="submitted && f.enginePower.errors" class="invalid-feedback">
                                    <div *ngIf="f.enginePower.errors.required">Engine power is required</div>
                                </div>
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus===true}">
                                <input type="text" class="form-control" formControlName="fuelConsumption"
                                    placeholder="Fuel consumption (km/L)" (focus)="focus=true" (blur)="focus=false"
                                    [ngClass]="{ 'is-invalid': submitted && f.fuelConsumption.errors }">
                                <div *ngIf="submitted && f.fuelConsumption.errors" class="invalid-feedback">
                                    <div *ngIf="f.fuelConsumption.errors.required">Fuel consumption is required</div>
                                </div>
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus1===true}" *ngIf="vehicleId == null">
                                <label class="form-control-label">Attach image</label>
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-camera-retro"
                                                aria-hidden="true"></i></span>
                                    </div>
                                    <input type="file" placeholder="Image" #image class="form-control"
                                        (focus)="focus1=true" (blur)="focus1=false"
                                        (change)="uploadImageFile(image.files)" title="Attach an image of the car"
                                        accept="image/*" formControlName="image"
                                        [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
                                    <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                                        <div *ngIf="f.image.errors.required">Image of the car is required</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="imageUploaded">
                                <img class="card-img img-fluid"
                                    src="data:image/png;base64,{{vehicle.image.value || vehicle.image}}" alt="Car Image"
                                    style="height: 150px; width: auto;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4 pull-left">
                            <button [disabled]="loading" class="btn btn-primary btn-round btn-lg text-center"
                                (click)="back()">Back</button>
                        </div>
                        <div class="col-5 pull-right offset-lg-3">
                            <button [disabled]="loading" class="btn btn-primary btn-round btn-lg text-center"
                                type="submit">{{button}}</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="error" class="text-warning text-center">{{error}}</div>
            </form>
        </div>
    </div>
</div>
<footer class="footer" data-background-color="black">
</footer>